{% extends "layout.njk" %}


{% block head %} <title>Sobre - Paulo Reis</title> {% endblock %}

{% block content %}

        <div id="wrapper">

            <img src="{{about.avatar_url}}" alt="Imagem de {{about.name}}" />

            <h1>{{about.name}}</h1>

            <h2>{{about.rule}}</h2>

            <p>{{about.description}} {{about.link}}</p>
        
        </div>

{% endblock %}