{% extends "layout.html" %}


{% block head %} <title>Sobre - Paulo Reis</title> {% endblock %}

{% block content %}

        <div id="wrapper">

            <img src="foto_user.png" alt="Paulo Reis" />

            <h1>Paulo Reis</h1>

            <h2>Aluno - Rocketseat</h2>

            <p>Amante da programação e apaixonado pelas melhores tecnologias do mercado. Focado em se tornar um desenvovedor sênior full-stack com JavaScript e as tecnologias omnistack. Aluno da <a href="http://Rocketseat.com.br" target="_blank" >Rocketseat</a></p>
        
        </div>

{% endblock %}