{% extends "layout.html" %}

{% block head %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<title>Portifolio - Paulo Reis</title>

{% endblock %}

{% block content %}

        <div id="wrapper">

            <h1>Aulas</h1>

        </div>

        <section class="cards">

            <article class="card" id="GykTLqODQuU">

                <div class="card_image">
                    <img src="https://img.youtube.com/vi/GykTLqODQuU/maxresdefault.jpg" alt="Video aula" />
                </div>
    
                <div class="card_content">
                    <p>formulário animado com JS puro e CSS Animation | Mayk Brito</p>
                </div>
    
                <div class="card_info">
                    <p>57 min</p>
    
                    <p class="card_price">Grátis</p>

                </div>

            </article>

            <article class="card" id="HN1UjzRSdBk">

                <div class="card_image">
                    <img src="https://img.youtube.com/vi/HN1UjzRSdBk/maxresdefault.jpg" alt="Video aula" />
                </div>
    
                <div class="card_content">
                    <p>Desvendando o css grid na prática | Mayk Brito</p>
                </div>
    
                <div class="card_info">
                    <p>36 min</p>
    
                    <p class="card_price">Grátis</p>

                </div>

            </article>

            <article class="card" id="rAzHvYnQ8DY">

                <div class="card_image">
                    <img src="https://img.youtube.com/vi/rAzHvYnQ8DY/maxresdefault.jpg" alt="Video aula" />
                </div>
    
                <div class="card_content">
                    <p>Array: Higher Order Functions | Mayk Brito</p>
                </div>
    
                <div class="card_info">
                    <p>54 min</p>
    
                    <p class="card_price">Grátis</p>

                </div>

            </article>

            <article class="card" id="H91DhKPjhPk">

                <div class="card_image">
                    <img src="https://img.youtube.com/vi/H91DhKPjhPk/maxresdefault.jpg" alt="Video aula" />
                </div>
    
                <div class="card_content">
                    <p></p>Responsividade na Prática | Masterclass #08 | Diego Fernandes</p>
                </div>
    
                <div class="card_info">
                    <p>1h 30 min</p>
    
                    <p class="card_price">Grátis</p>

                </div>

            </article>

            <article class="card" id="P65RJTTqkN4">

                <div class="card_image">
                    <img src="https://img.youtube.com/vi/P65RJTTqkN4/maxresdefault.jpg" alt="Video aula" />
                </div>
    
                <div class="card_content">
                    <p>Formulários no ReactJS & React Native com Unform | MasterClass #06 | Diego Fernandes</p>
                </div>
    
                <div class="card_info">
                    <p>47 min</p>
    
                    <p class="card_price">Grátis</p>

                </div>

            </article>

            <article class="card" id="dlCUvYOlnDo">

                <div class="card_image">
                    <img src="https://img.youtube.com/vi/dlCUvYOlnDo/maxresdefault.jpg" alt="Video aula" />
                </div>
    
                <div class="card_content">
                    <p>Usando Serverless, Jest e Node.js para corrigir desafios | Behind the Code #13 | Diego Fernandes</p>
                </div>
    
                <div class="card_info">
                    <p>55 min</p>
    
                    <p class="card_price">Grátis</p>

                </div>

            </article>


        </section>

        <section class="modal-overlay">

            <div class="modal">

                <a class="close-modal">

                    <i class="material-icons">close</i>

                </a>

                <div class="modal-content">

                    <iframe src="" frameborder="0"></iframe>

                </div>
                
            </div>

        </section>

    <script src="scripts.js"></script>

{% endblock %}